<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Messiento Vivero</title>
    </head>
    <body>
        <div>
            <h1> Terminos y Condiciones </h1>      
        </div>

        <div>
            <p>Bienvenido a Messiento Vivero. Al acceder y utilizar nuestro sitio web, así como al realizar compras en nuestra tienda física, aceptas los siguientes términos y condiciones. Por favor, lee detenidamente esta
                información antes de continuar con cualquier transacción.</p>

            <p>Aceptacion de Términos: Al realizar una compra o utilizar nuestro sitio web, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con alguna parte de estos términos, te pedimos que no
                utilices nuestros servicios</p>

            <p>Información del Usuario: Al proporcionar información personal durante el proceso de compra, te comprometes a que esta información sea precisa y completa. Messiento Vivero se compromete a proteger tu
                privacidad y a utilizar la información proporcionada únicamente con fines relacionados con tus transacciones y experiencia de compra.</p>

            <p>Productos y Precios: Hacemos todo 10 posible por mantener información precisa sobre nuestros productos y precios. Sin embargo, nos reservamos el derecho de corregir errores, actualizar precios y modificar la
                disponibilidad de productos en cualquier momento sin previo aviso.</p>

            <p>Pago y Envio: Los precios de los productos están sujetos a cambios y pueden variar según la ubicación geográfica y otros factores. Al realizar una compra, aceptas pagar el precio total de los productos, asi como los
                gastos ce envto correspondientes. Nos esforzamos por procesar y enviar los pedidos de manera oportuna, pero no nos hacemos responsables ce retrasos causados por terceros o circunstancias fuera de nuestro
                control</p>

            <p>Devoluciones y Reembolsos: Nos comprometemos a ofrecer productos de la mas alta calidad. Si no estas satisfecho con tu compra, contáctanos dentro de los 14 dias posteriores a la recepción del pedido para
                solicitar una devolución o un reembolso. Por favor, consulta nuestra politica de devoluciones para obtener información detallada sobre los procedimientosy condiciones aplicables.</p>

            <p>Propiedad Intelectual: TOCOS los contenidos de nuestro sitio web, incluyendo imágenes, texto, logotipos y diseños, están protegidos por derechos de autor y otros derechos de propiedad intelectual- No se permite
                la reproducciôn, distribución o modificación de ningún contenido sin autorización previa por escrito de Messiento Vivero.</p>

            <p>Limitación de Responsabilidad: En la máxima medida permitida por la ley, Messiento Vivero no sera responsable de ningún daño directo, indirecto, incidental, especial, consecuente o punitivo derivado del uso de
                nuestros productos o servicios.</p>

            <p>Modificaciones: Nos reservamos el derecho de modificar, actualizar o reemplazar estos términos y condiciones en cualquier momento sin previo aviso. Te recomendamos que revises periódicamente esta página
                para estar al tanto de cualquier cambio.</p>

            <p>AI utilizar los servicios ce Messiento Vivero, aceptas cumplir con estos términos y condiciones. Si tienes alguna pregunta o inquietud, no dudes en contactarnos.</p>

            <p>Fecha de entrada en vigor-. 10 Febrero del año 2022.</p>
        </div>
        <footer><p>Derechos Reservados Messiento Vivero &COPY; 2024</p></footer>
    </body>
</html>
